.Detail{    
    display: flex;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.Detail .container{
    /* width: 100%;
    height: 100%;
    display: flex; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
    grid-gap: 15px;
    row-gap: 15px;
}

.Detail .imgLogin{
    /* width: 50%; */
    height: 500px;
    min-width: 200px;
    min-height: 400px;
}

.Detail .modal-description {
    justify-content: space-between;
    min-width: 250px;
   
}

.Detail .modal-img {
    width: 50%;
    height: 200px;
    min-width: 200px;
   
}

.Detail .container .header{
    text-align: left;
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}

.Detail .container .escritor{
    color: #AB2680;
}

.Detail .container .body{
    text-align: left;
    width: 80%;
    padding-top: 20px;
    margin: auto;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.Detail .title{
    font-size: 30px;
}

.Detail .container .body .info-left{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Detail .container .body .info-rigth{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #999999;
}
.Detail .container .body .description{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; 
}