.Home{
    background-image: url("./../../img/backGround.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}
.Home .header{
    height: 120px;
    width: 80%;
    margin: auto;
    display: flex;
}


.Home .header .imgLogin{
    width: 150px;
    margin-top: 25px;
    margin-left: 25px;
}

.Home .header .imgLogin-books{
    width: 100px;
    margin-left: 5px;
}

.Home .exit{
    background-image: url("./../../img/logout.png");
    width: 30px;
    height: 30px;
    background-size: cover;
}

.Home .header .logo{
    width: 50%;
    text-align: left;
}

.Home .header .menu{
    width: 50%;
    height: 20px;
    text-align: end;
}

.Home .container{
    width: 80%;
    height: 500px;
    margin: auto;
}

.Home .lista{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 15px;
    row-gap: 15px;
}

.Home .button{
    text-align: end;
    margin-top: 10px;
}
